body {
 background-color: #fcf4e8;
 text-align: center;
 img-align: center;
 color: #225277;
}
template {
  font-family: "Times New Roman", Times, serif;
}
div {
    padding-top: 50px;
    padding-right: 30px;
    padding-bottom: 50px;
    padding-left: 80px;
}
